{% extends 'base.html' %}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-5 bg-dark p-5 rounded shadow">
            <h2 class="text-primary mb-4">Set New Password</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100 rounded-pill">Update Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}